NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_JWKS=
MOLLIE_API_KEY=
SENDGRID_API_KEY=
SENDGRID_API_BASE_URL=https://api.sendgrid.com
SENDGRID_FROM_NAME=Kledingcommissie Duindorp SV
SENDGRID_FROM_EMAIL=kleding@duindorpsv.nl
SENDGRID_REPLY_TO_EMAIL=kleding@duindorpsv.nl
SENDGRID_EVENT_WEBHOOK_PUBLIC_KEY=
PARENT_TOKEN_PEPPER=
QR_TOKEN_PEPPER=
QR_TOKEN_PEPPER_VERSION=1
QR_TOKEN_PREVIOUS_PEPPER=
QR_TOKEN_PREVIOUS_PEPPER_VERSION=
CRON_SECRET=
DYNAMIC_IMPORT_ENABLED=false
IMPORT_STAGING_ENCRYPTION_KEY=
IMPORT_RAW_RETENTION_HOURS=24
APP_BASE_URL=http://localhost:3100
MOLLIE_ENABLED=false
EMAIL_ENABLED=false
